@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Share+Tech+Mono&family=Spartan&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 5rem;
}

.logo {
  width: 250px;
  height: 250px;
}

.titulo {
  font-family: 'Oleo Script', cursive;
  color: #2c3e50;
}

.numeral {
  font-family: 'Share Tech Mono', monospace;
}

.header {
  font-size: 2rem;
  padding: 3rem 0;
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.info-box {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

.info-color {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
}

.info-color-disponivel {
  background-color: #d9d9d9;
}

.info-color-reservado {
  background-color: #ffde59;
}

.info-color-vendido {
  background-color: #7ed956;
}

.info-text {
  font-family: 'Share Tech Mono', monospace;
  font-size: 2rem;
  margin-left: 00.5rem;
}

#numeros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.bilhete {
  padding: 2rem 2rem;
  margin: 5px;
  cursor: pointer;
  width: 180px;
  height: 100px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
}

.disponivel {
  background-image: url("./img/disponivel.jpg");
  background-size: cover;
}

.reservado {
  background-image: url("./img/reservado.jpg");
  background-size: cover;
}

.vendido {
  background-image: url("./img/vendido.jpg");
  background-size: cover;
}

/**
 * https://epic-spinners.epicmax.co/
 */

.spring-spinner, .spring-spinner * {
  box-sizing: border-box;
}

.spring-spinner {
  height: 60px;
  width: 60px;
}

.spring-spinner .spring-spinner-part {
  overflow: hidden;
  height: calc(60px / 2);
  width: 60px;
}

.spring-spinner  .spring-spinner-part.bottom {
   transform: rotate(180deg) scale(-1, 1);
 }

.spring-spinner .spring-spinner-rotator {
  width: 60px;
  height: 60px;
  border: calc(60px / 7) solid transparent;
  border-right-color: #46758c;
  border-top-color: #46758c;
  border-radius: 50%;
  box-sizing: border-box;
  animation: spring-spinner-animation 3s ease-in-out infinite;
  transform: rotate(-200deg);
}

@keyframes spring-spinner-animation {
  0% {
    border-width: calc(60px / 7);
  }
  25% {
    border-width: calc(60px / 23.33);
  }
  50% {
    transform: rotate(115deg);
    border-width: calc(60px / 7);
  }
  75% {
    border-width: calc(60px / 23.33);
  }
  100% {
    border-width: calc(60px / 7);
  }
}
